# **KDDCup Data Analytics with PySpark RDD: A structured case study**

### YouTube channel: Code with Kristi

### Tutor: Dr Sachin Saxena (PhD, MTech, BTech)

##### data source: http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html

In [ ]:
########## ONLY in Colab ##########
!pip3 install pyspark
########## ONLY in Colab ##########

In [1]:
from pyspark import SparkContext, SparkConf

# Initializing Spark
conf = SparkConf().setAppName("KDDCup_PySpark").setMaster("local[*]")
sc = SparkContext(conf=conf)
print(sc)
print("Ready to go!")

<SparkContext master=local[*] appName=KDDCup_PySpark>
Ready to go!

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [64]:
# Read and Load Data to Spark
# Data source: http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html
rdd = sc.textFile("/content/drive/MyDrive/Big Data Pyspark Project/kddcup.data.gz")

In [ ]:
# Repartition and Cache Data:

# check for another custom dataset
# Optional code starts here

In [16]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

# Initialize SparkContext
# sc = SparkContext("RDD Example")

# Your list of data
data = [('Ram', 30),
        ('Shyam', 25),
        ('Sita', 28),
        ('Lakshman', 32),
        ('Radha', 27),
        ('Krishna', 35)]

# Convert the list into an RDD
rdd = sc.parallelize(data)

# To check the contents of the RDD
print(rdd.collect())

[('Ram', 30), ('Shyam', 25), ('Sita', 28), ('Lakshman', 32), ('Radha', 27), ('Krishna', 35)]

In [38]:
# How many partitions do we have?
# By default, the number of partitions is determined by the number of cores available in your local setup or cluster.
# If you are running it locally, it's often based on the number of CPU cores.
rdd.getNumPartitions()
# Why only one partition, bcs spark see zip 17 MB in one partition, we need more partition

1

In [39]:
# Create RDD with a specific number of partitions (e.g., 4 partitions)
rdd = sc.parallelize(data, 4)

# Check the number of partitions again
num_partitions = rdd.getNumPartitions()

In [40]:
num_partitions

4

# Optional code till here

In [43]:
rdd.glom().map(len).collect()

[4898431]

In [44]:
rdd= rdd.repartition(10) # shuffle all data

In [45]:
rdd.glom().map(len).collect()

[489850,
 489850,
 489841,
 489840,
 489840,
 489840,
 489840,
 489840,
 489840,
 489850]

In [46]:
print(sc.defaultParallelism)
print(rdd.getNumPartitions())

rdd.persist()
# 2 cores and 10 partitions, 5 partitions in each core

2
10

MapPartitionsRDD[66] at coalesce at NativeMethodAccessorImpl.java:0

In [47]:
rdd.glom().map(len).collect()

[489850,
 489850,
 489841,
 489840,
 489840,
 489840,
 489840,
 489840,
 489840,
 489850]

In [69]:
rdd= rdd.repartition(15) # shuffle all data

In [70]:
rdd.glom().map(len).collect()

[326560,
 326560,
 326560,
 326560,
 326560,
 326560,
 326560,
 326560,
 326560,
 326570,
 326570,
 326570,
 326561,
 326560,
 326560]

In [71]:
rdd=rdd.coalesce(5)
# using coalesce partitions are not equal

coalesce() reduces the number of partitions and is more efficient when reducing partitions because it minimizes data movement. It is best used when you are shrinking the number of partitions.

### In your case, trying to increase partitions using coalesce(15) may not be the best option, since coalesce is meant for reducing partitions. To increase partitions, you should use repartition().

In [72]:
rdd.glom().map(len).collect()

[979680, 979700, 979681, 979680, 979690]

In [29]:
# Your list of data

from pyspark.sql import SparkSession

# Initialize a SparkSession
spark = SparkSession.builder.appName("DataFrame Example").getOrCreate()

data = [('Ram', 30),
        ('Shyam', 25),
        ('Sita', 28),
        ('Lakshman', 32),
        ('Radha', 27),
        ('Krishna', 35)]

df= spark.createDataFrame(data=data,schema=['name','age'])

df.show()

+--------+---+
|    name|age|
+--------+---+
|     Ram| 30|
|   Shyam| 25|
|    Sita| 28|
|Lakshman| 32|
|   Radha| 27|
| Krishna| 35|
+--------+---+

In [31]:
df.rdd.getNumPartitions()

2

In [33]:
df1=df.repartition('age')
df1.rdd.getNumPartitions()

1

In [34]:
df1.rdd.glom().map(len).collect()

[6]

In [35]:
df2=df1.coalesce(2)

In [36]:
df1.rdd.glom().map(len).collect()

[6]

Understanding Partitions in Spark
Partitions in Spark represent how the data is distributed across the cluster or machine. Each partition can be processed in parallel on separate nodes (in a cluster) or cores (in a local setup). Proper partitioning helps optimize performance, balancing between parallelism and resource usage.

Key Points About Partitions:
Parallel Processing:

Spark processes data in parallel using partitions. More partitions can improve parallelism, but too many partitions can lead to overhead, while too few can lead to underutilization of resources.
Default Partitioning:

Spark automatically determines the number of partitions based on the environment:
Local Mode: It often defaults to the number of available cores.
Cluster Mode: It depends on the configuration, including the number of cores, workers, or resources in the cluster.
Custom Partitioning:

When creating an RDD using parallelize(), you can specify the number of partitions:
python
Copy code
rdd = sc.parallelize(data, num_partitions)
Increasing the number of partitions can help in situations where you have a large dataset and want to utilize more computational resources.
Shuffling and Repartitioning:

You can change the number of partitions in an RDD after it has been created:
Repartitioning (to increase the number of partitions): rdd.repartition(num_partitions)
Coalescing (to decrease the number of partitions, without a full shuffle): rdd.coalesce(num_partitions)
Repartitioning involves shuffling the data across the cluster, which can be resource-intensive, while coalescing is more efficient if you are reducing the number of partitions.
Choosing the Number of Partitions:

A general rule of thumb is to have at least 2-3 partitions per CPU core. For example, if you have a 4-core machine, having 8-12 partitions ensures efficient parallelism without too much overhead.
For larger clusters or distributed environments, the number of partitions should be chosen to maximize CPU utilization and minimize shuffling.

# Windows functions

In [79]:
# Your list of data

from pyspark.sql import SparkSession

# Initialize a SparkSession
spark = SparkSession.builder.appName("DataFrame Example").getOrCreate()

data = [('Ram', 30),
        ('Shyam', 25),
        ('Sita', 30),
        ('Lakshman', 25),
        ('Radha', 27),
        ('Krishna', 35),
        ('Lakshman', 25),
        ('Radha', 27),
        ('Krishna', 35)]

df= spark.createDataFrame(data=data,schema=['name','age'])

df.show()

+--------+---+
|    name|age|
+--------+---+
|     Ram| 30|
|   Shyam| 25|
|    Sita| 30|
|Lakshman| 25|
|   Radha| 27|
| Krishna| 35|
|Lakshman| 25|
|   Radha| 27|
| Krishna| 35|
+--------+---+

In [76]:
from pyspark.sql import Window
from pyspark.sql.functions import row_number, rank, col

# Define a window specification - partition by nothing (global window) and order by 'age'
windowSpec = Window.orderBy(col("age"))

# Add a new column 'row_number' that assigns a unique row number to each row based on the 'age' column
df_with_row_number = df.withColumn("row_number", row_number().over(windowSpec))

# Show the result
df_with_row_number.show()

+--------+---+----------+
|    name|age|row_number|
+--------+---+----------+
|   Shyam| 25|         1|
|Lakshman| 25|         2|
|   Radha| 27|         3|
|     Ram| 30|         4|
|    Sita| 30|         5|
| Krishna| 35|         6|
+--------+---+----------+

In [77]:
# Using rank to assign ranks to rows based on age
df_with_rank = df.withColumn("rank", rank().over(windowSpec))
df_with_rank.show()

+--------+---+----+
|    name|age|rank|
+--------+---+----+
|   Shyam| 25|   1|
|Lakshman| 25|   1|
|   Radha| 27|   3|
|     Ram| 30|   4|
|    Sita| 30|   4|
| Krishna| 35|   6|
+--------+---+----+

In [80]:
from pyspark.sql.functions import sum

# Cumulative sum of 'age' column over the window
df_with_cumsum = df.withColumn("cumulative_sum", sum(col("age")).over(windowSpec))
df_with_cumsum.show()

+--------+---+--------------+
|    name|age|cumulative_sum|
+--------+---+--------------+
|   Shyam| 25|            75|
|Lakshman| 25|            75|
|Lakshman| 25|            75|
|   Radha| 27|           129|
|   Radha| 27|           129|
|     Ram| 30|           189|
|    Sita| 30|           189|
| Krishna| 35|           259|
| Krishna| 35|           259|
+--------+---+--------------+

In [81]:
# Define a window specification - partition by 'department' and order by 'age'
# Assuming you have a 'department' column
windowSpecPartitioned = Window.partitionBy("name").orderBy(col("age"))

# Add row number for each 'department'
df_with_partitioned_row_number = df.withColumn("row_number", row_number().over(windowSpecPartitioned))
df_with_partitioned_row_number.show()

+--------+---+----------+
|    name|age|row_number|
+--------+---+----------+
| Krishna| 35|         1|
| Krishna| 35|         2|
|Lakshman| 25|         1|
|Lakshman| 25|         2|
|   Radha| 27|         1|
|   Radha| 27|         2|
|     Ram| 30|         1|
|   Shyam| 25|         1|
|    Sita| 30|         1|
+--------+---+----------+

## Question 1: Get ten records randomly

In [ ]:
rdd.takeSample(False, 10,1234) # False means I do need any replacement, 1234 is seed

['0,icmp,ecr_i,SF,1032,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,510,510,0.00,0.00,0.00,0.00,1.00,0.00,0.00,255,255,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,smurf.',
 '910,udp,other,SF,146,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0.00,0.00,0.00,0.00,1.00,0.00,0.00,255,2,0.01,0.67,0.96,0.00,0.00,0.00,0.00,0.00,normal.',
 '0,tcp,csnet_ns,S0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,198,2,1.00,1.00,0.00,0.00,0.01,0.06,0.00,255,2,0.01,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune.',
 '0,icmp,ecr_i,SF,1032,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,511,511,0.00,0.00,0.00,0.00,1.00,0.00,0.00,255,255,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,smurf.',
 '0,icmp,eco_i,SF,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,35,0.00,0.00,0.00,0.00,1.00,0.00,1.00,2,255,1.00,0.00,1.00,0.50,0.00,0.00,0.00,0.00,ipsweep.',
 '0,tcp,private,S0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117,10,1.00,1.00,0.00,0.00,0.09,0.07,0.00,255,11,0.04,0.07,0.00,0.00,1.00,1.00,0.00,0.00,neptune.',
 '0,icmp,ecr_i,SF,520,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,511,511,0.00,0.00,0.00,0.00,1.00,0.00,0.00,255,255,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,smurf.',
 '0,udp,domain_u,SF,44,76,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,44,44,0.00,0.00,0.00,0.00,1.00,0.00,0.00,205,184,0.90,0.01,0.00,0.00,0.00,0.00,0.00,0.00,normal.',
 '0,tcp,http,SF,323,306,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,4,4,0.00,0.00,0.00,0.00,1.00,0.00,0.00,208,255,1.00,0.00,0.00,0.02,0.00,0.01,0.00,0.00,normal.',
 '0,icmp,ecr_i,SF,1032,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,511,511,0.00,0.00,0.00,0.00,1.00,0.00,0.00,255,255,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,smurf.']

## Question 2: Count elements

In [ ]:
rdd.count()

4898431

## Question 3: Calculate the ratio of `normal` connections

In [ ]:
# last column in data
normal_rdd = rdd.filter(lambda line: 'normal.' in line )
ratio = normal_rdd.count()/rdd.count()*100
print("Ratio of Normal Connection is {:.4f} %".format(ratio))

# means 80 % of connections are attack traffic

Ratio of Normal Connection is 19.8590 %

## Question 4: Get the list of labels

In [ ]:
Split_rdd = rdd.map(lambda line: line.split(",") )
# Label_rdd = Split_rdd.map(lambda item: item[41]).distinct()
# why 41. look at https://kdd.ics.uci.edu/databases/kddcup99/kddcup.names count at 41
# or use this command
Label_rdd = Split_rdd.map(lambda item: item[-1]).distinct()
Label_rdd.collect()

['pod.',
 'neptune.',
 'warezclient.',
 'loadmodule.',
 'smurf.',
 'nmap.',
 'spy.',
 'back.',
 'teardrop.',
 'ipsweep.',
 'phf.',
 'ftp_write.',
 'multihop.',
 'guess_passwd.',
 'normal.',
 'imap.',
 'satan.',
 'land.',
 'portsweep.',
 'warezmaster.',
 'rootkit.',
 'perl.',
 'buffer_overflow.']

## Question 5: Count the number of connections for each label

In [ ]:
rdd.filter(lambda line: 'neptune.' in line).count()
rdd.filter(lambda line: 'perl.' in line).count()

3

### or

In [ ]:
# first i is 'pod.', 'neptune.', and so on .....
def Label_count_Function(items):
  Labels_count = []
  for i in items:
    Labels_count.append(rdd.filter(lambda line: i in line).count())

In [ ]:
%%time
# Soultion no 1 with long time more than 10 mins
# Label_count_Function(Label_rdd.collect())

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 11 µs

In [ ]:
# create key and value pairs
# Soultion no 2 with short time
%%time
Label_rdd_KV = Split_rdd.map(lambda x:( x[-1],1))
Label_RDD_reduce = Label_rdd_KV.reduceByKey(lambda a,b: a+b )

CPU times: user 8.11 ms, sys: 0 ns, total: 8.11 ms
Wall time: 31.9 ms

In [ ]:
import pandas as pd
Keys = Label_RDD_reduce.keys().collect()
Values = Label_RDD_reduce.values().collect()

DF_Labels_KV = pd.DataFrame({'Lable':Keys, 'Count':Values})

DF_Labels_KV.sort_values(by="Count",ascending=False)

# we have more than 2 millions labels with Smurf and widly accepted traffic and really dengerous

               Lable    Count
4             smurf.  2807886
1           neptune.  1072017
14           normal.   972781
16            satan.    15892
9           ipsweep.    12481
18        portsweep.    10413
5              nmap.     2316
7              back.     2203
2       warezclient.     1020
8          teardrop.      979
0               pod.      264
13     guess_passwd.       53
22  buffer_overflow.       30
17             land.       21
19      warezmaster.       20
15             imap.       12
20          rootkit.       10
3        loadmodule.        9
11        ftp_write.        8
12         multihop.        7
10              phf.        4
21             perl.        3
6               spy.        2

## Question 6: Get the connection type with successful `root_shell` connections to servers, where the number of data bytes from source (`src_bytes`) is 500 times more than from server (`dst_bytes`)

In [ ]:
Split_rdd.filter(lambda x: x[13]!='1')\
.map(lambda x: (x[1], x[4],x[5])) \
.filter(lambda x:int(x[2])>int(x[1])*500)\
.collect()
# .count()
# .take(10)


# this (x[1], (x[4],x[5])) is equilvalent to (tcp, (source,destination)) taken from
# https://kdd.ics.uci.edu/databases/kddcup99/kddcup.names
# x[1]= protocol_type: symbolic.
# x[4]= src_bytes: continuous.
# x[5]= dst_bytes: continuous.

# and
# take (10) Return the first 10 rows of the DataFrame

[('tcp', '227', '238768'),
 ('tcp', '228', '191273'),
 ('tcp', '0', '8081'),
 ('tcp', '0', '14736'),
 ('tcp', '161', '142716'),
 ('tcp', '241', '125015'),
 ('tcp', '251', '171136'),
 ('tcp', '241', '125015'),
 ('tcp', '0', '3796'),
 ('tcp', '240', '125015'),
 ('tcp', '0', '4'),
 ('tcp', '0', '3679'),
 ('tcp', '0', '2321'),
 ('tcp', '585', '2661605'),
 ('tcp', '670', '424558'),
 ('tcp', '293', '1306670'),
 ('tcp', '477', '1731900'),
 ('tcp', '776', '1249426'),
 ('tcp', '245', '756005'),
 ('tcp', '245', '756005'),
 ('tcp', '318', '267694'),
 ('tcp', '132', '212680'),
 ('tcp', '250', '273525'),
 ('tcp', '563', '508929'),
 ('tcp', '675', '1618836'),
 ('tcp', '903', '507630'),
 ('tcp', '443', '353774'),
 ('tcp', '989', '1113826'),
 ('tcp', '598', '1835587'),
 ('tcp', '769', '901353'),
 ('tcp', '551', '4091815'),
 ('tcp', '524', '410401'),
 ('tcp', '556', '363741'),
 ('tcp', '590', '1470899'),
 ('tcp', '755', '417500'),
 ('tcp', '154', '187774'),
 ('tcp', '179', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '5'),
 ('tcp', '252', '273525'),
 ('tcp', '0', '735'),
 ('tcp', '252', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '196', '1285433'),
 ('tcp', '472', '531556'),
 ('tcp', '508', '266562'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '166', '124015'),
 ('tcp', '217', '190743'),
 ('tcp', '184', '406187'),
 ('tcp', '0', '396'),
 ('tcp', '524', '650004'),
 ('tcp', '593', '317733'),
 ('tcp', '0', '7461'),
 ('tcp', '0', '7643'),
 ('tcp', '204', '140205'),
 ('tcp', '184', '107138'),
 ('tcp', '225', '208526'),
 ('tcp', '250', '273544'),
 ('tcp', '0', '2224'),
 ('tcp', '0', '1416'),
 ('tcp', '167', '3916592'),
 ('tcp', '184', '264900'),
 ('tcp', '479', '242187'),
 ('tcp', '295', '289975'),
 ('tcp', '439', '388328'),
 ('tcp', '236', '204387'),
 ('tcp', '930', '1554553'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '714'),
 ('tcp', '0', '15'),
 ('tcp', '843', '763003'),
 ('tcp', '252', '273525'),
 ('tcp', '0', '1435'),
 ('tcp', '810', '1514357'),
 ('tcp', '545', '446079'),
 ('tcp', '0', '11269'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '61632'),
 ('tcp', '387', '1391139'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '636', '838788'),
 ('tcp', '231', '250450'),
 ('tcp', '479', '1625386'),
 ('tcp', '914', '476861'),
 ('tcp', '532', '312454'),
 ('tcp', '374', '2642709'),
 ('tcp', '0', '3079'),
 ('tcp', '655', '1915762'),
 ('tcp', '613', '640572'),
 ('tcp', '649', '472123'),
 ('tcp', '596', '339045'),
 ('tcp', '181', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '243', '646195'),
 ('tcp', '113', '1285078'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '2761'),
 ('tcp', '822', '1416156'),
 ('tcp', '395', '854108'),
 ('tcp', '351', '1465775'),
 ('tcp', '257', '1343392'),
 ('tcp', '377', '206164'),
 ('tcp', '0', '1837'),
 ('tcp', '0', '514'),
 ('tcp', '0', '23473'),
 ('tcp', '249', '171136'),
 ('tcp', '207', '144911'),
 ('tcp', '0', '285'),
 ('tcp', '289', '271733'),
 ('tcp', '211', '110864'),
 ('tcp', '178', '171136'),
 ('tcp', '334', '197302'),
 ('tcp', '172', '346028'),
 ('tcp', '210', '181127'),
 ('tcp', '241', '125015'),
 ('tcp', '204', '114708'),
 ('tcp', '204', '114708'),
 ('tcp', '0', '133'),
 ('tcp', '0', '133'),
 ('tcp', '0', '15'),
 ('tcp', '0', '133'),
 ('tcp', '0', '15'),
 ('tcp', '0', '15'),
 ('tcp', '0', '77'),
 ('tcp', '291', '900479'),
 ('tcp', '295', '155266'),
 ('tcp', '308', '155266'),
 ('tcp', '693', '2391949'),
 ('tcp', '249', '180646'),
 ('tcp', '406', '335219'),
 ('tcp', '378', '1324486'),
 ('tcp', '226', '208178'),
 ('tcp', '499', '325406'),
 ('tcp', '475', '1586434'),
 ('tcp', '591', '1475191'),
 ('tcp', '651', '495444'),
 ('tcp', '726', '1465271'),
 ('tcp', '179', '273525'),
 ('tcp', '0', '310'),
 ('tcp', '789', '1395911'),
 ('tcp', '704', '498052'),
 ('tcp', '600', '1350278'),
 ('tcp', '343', '1653021'),
 ('tcp', '393', '536325'),
 ('tcp', '848', '1342342'),
 ('tcp', '729', '381358'),
 ('tcp', '524', '468468'),
 ('tcp', '368', '194672'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '252', '273525'),
 ('tcp', '0', '4076'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '294', '250211'),
 ('tcp', '829', '743442'),
 ('tcp', '222', '1288154'),
 ('tcp', '252', '273525'),
 ('tcp', '143', '75822'),
 ('tcp', '213', '164314'),
 ('tcp', '227', '1193597'),
 ('tcp', '632', '1760432'),
 ('tcp', '179', '273525'),
 ('tcp', '0', '584'),
 ('tcp', '292', '208078'),
 ('tcp', '185', '209503'),
 ('tcp', '194', '150638'),
 ('tcp', '194', '179873'),
 ('tcp', '0', '1108'),
 ('tcp', '316', '218060'),
 ('tcp', '311', '197192'),
 ('tcp', '0', '4'),
 ('tcp', '176', '243780'),
 ('tcp', '568', '1940263'),
 ('tcp', '6', '18056'),
 ('tcp', '816', '465468'),
 ('tcp', '114', '1284567'),
 ('tcp', '330', '255505'),
 ('tcp', '329', '205950'),
 ('tcp', '0', '2890'),
 ('tcp', '0', '61298'),
 ('tcp', '558', '1605695'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '15'),
 ('tcp', '0', '4'),
 ('tcp', '437', '1318467'),
 ('tcp', '229', '646195'),
 ('tcp', '242', '646195'),
 ('tcp', '191', '448149'),
 ('tcp', '497', '575247'),
 ('tcp', '859', '446124'),
 ('tcp', '449', '240494'),
 ('tcp', '0', '4'),
 ('tcp', '0', '1108'),
 ('tcp', '735', '706632'),
 ('tcp', '861', '610741'),
 ('tcp', '812', '693410'),
 ('tcp', '862', '455669'),
 ('tcp', '0', '3279'),
 ('tcp', '673', '887107'),
 ('tcp', '517', '259982'),
 ('tcp', '506', '292784'),
 ('tcp', '439', '485751'),
 ('tcp', '957', '513482'),
 ('tcp', '252', '273544'),
 ('tcp', '0', '3091'),
 ('tcp', '288', '220227'),
 ('tcp', '207', '136750'),
 ('tcp', '166', '265995'),
 ('tcp', '0', '4294'),
 ('tcp', '0', '22302'),
 ('tcp', '315', '172644'),
 ('tcp', '207', '144911'),
 ('tcp', '150', '265995'),
 ('tcp', '0', '1478'),
 ('tcp', '0', '7134'),
 ('tcp', '0', '12471'),
 ('tcp', '172', '346028'),
 ('tcp', '317', '271733'),
 ('tcp', '246', '202976'),
 ('tcp', '246', '202976'),
 ('tcp', '304', '197302'),
 ('tcp', '313', '172644'),
 ('tcp', '214', '288711'),
 ('tcp', '204', '114708'),
 ('tcp', '240', '125015'),
 ('tcp', '0', '15'),
 ('tcp', '0', '15'),
 ('tcp', '0', '85'),
 ('tcp', '0', '133'),
 ('tcp', '0', '15'),
 ('tcp', '0', '15'),
 ('tcp', '0', '90'),
 ('tcp', '0', '77'),
 ('tcp', '0', '3'),
 ('tcp', '0', '142'),
 ('tcp', '0', '15'),
 ('tcp', '0', '84'),
 ('tcp', '0', '85'),
 ('tcp', '0', '32884'),
 ('tcp', '160', '927325'),
 ('tcp', '281', '169346'),
 ('tcp', '213', '157465'),
 ('tcp', '213', '157465'),
 ('tcp', '310', '3746371'),
 ('tcp', '222', '155266'),
 ('tcp', '235', '155266'),
 ('tcp', '751', '467084'),
 ('tcp', '905', '1436065'),
 ('tcp', '250', '134447'),
 ('tcp', '291', '619694'),
 ('tcp', '553', '309790'),
 ('tcp', '528', '298688'),
 ('tcp', '600', '1744179'),
 ('tcp', '261', '260612'),
 ('tcp', '252', '273544'),
 ('tcp', '250', '273525'),
 ('tcp', '252', '273544'),
 ('tcp', '0', '14150'),
 ('tcp', '180', '7068759'),
 ('tcp', '224', '136339'),
 ('tcp', '940', '1610898'),
 ('tcp', '654', '428171'),
 ('tcp', '448', '1508606'),
 ('tcp', '749', '411750'),
 ('tcp', '456', '236934'),
 ('tcp', '485', '534253'),
 ('tcp', '786', '517948'),
 ('tcp', '200', '225879'),
 ('tcp', '558', '324647'),
 ('tcp', '861', '1744982'),
 ('tcp', '863', '454242'),
 ('tcp', '450', '1489039'),
 ('tcp', '736', '653965'),
 ('tcp', '393', '1189158'),
 ('tcp', '507', '264339'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '731', '2826462'),
 ('tcp', '213', '164314'),
 ('tcp', '185', '406187'),
 ('tcp', '185', '406187'),
 ('tcp', '211', '110790'),
 ('tcp', '947', '506468'),
 ('tcp', '252', '273544'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '200', '141546'),
 ('tcp', '183', '107138'),
 ('tcp', '168', '100344'),
 ('tcp', '598', '1325577'),
 ('tcp', '421', '472430'),
 ('tcp', '250', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '203', '140204'),
 ('tcp', '546', '1483510'),
 ('tcp', '710', '1632218'),
 ('tcp', '370', '267966'),
 ('tcp', '179', '273525'),
 ('tcp', '176', '243780'),
 ('tcp', '229', '646195'),
 ('tcp', '854', '724639'),
 ('tcp', '844', '600787'),
 ('tcp', '0', '7153'),
 ('tcp', '853', '2925130'),
 ('tcp', '800', '459008'),
 ('tcp', '284', '363635'),
 ('tcp', '822', '483474'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '712', '1960029'),
 ('tcp', '633', '1137338'),
 ('tcp', '690', '384561'),
 ('tcp', '635', '389141'),
 ('tcp', '220', '1288580'),
 ('tcp', '233', '213505'),
 ('tcp', '250', '273525'),
 ('tcp', '725', '2293370'),
 ('tcp', '181', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '15'),
 ('tcp', '559', '1473706'),
 ('tcp', '252', '273544'),
 ('tcp', '245', '646195'),
 ('tcp', '292', '448149'),
 ('tcp', '301', '1293386'),
 ('tcp', '380', '454124'),
 ('tcp', '782', '1740297'),
 ('tcp', '0', '3283'),
 ('tcp', '0', '978'),
 ('tcp', '211', '162046'),
 ('tcp', '211', '162046'),
 ('tcp', '172', '142446'),
 ('tcp', '265', '269232'),
 ('tcp', '252', '160023'),
 ('tcp', '252', '160023'),
 ('tcp', '900', '1357859'),
 ('tcp', '179', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '247', '142716'),
 ('tcp', '240', '125015'),
 ('tcp', '0', '2859'),
 ('tcp', '215', '207385'),
 ('tcp', '237', '265995'),
 ('tcp', '246', '202976'),
 ('tcp', '246', '202976'),
 ('tcp', '0', '1167'),
 ('tcp', '334', '197302'),
 ('tcp', '163', '336249'),
 ('tcp', '0', '1093'),
 ('tcp', '0', '1101'),
 ('tcp', '185', '4018362'),
 ('tcp', '637', '396774'),
 ('tcp', '708', '1905934'),
 ('tcp', '0', '96'),
 ('tcp', '0', '15'),
 ('tcp', '0', '15'),
 ('tcp', '0', '85'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '3303'),
 ('tcp', '0', '4'),
 ('tcp', '194', '98304'),
 ('tcp', '0', '1422'),
 ('tcp', '295', '155266'),
 ('tcp', '308', '155266'),
 ('tcp', '242', '159759'),
 ('tcp', '222', '149033'),
 ('tcp', '574', '855415'),
 ('tcp', '841', '1626468'),
 ('tcp', '250', '134447'),
 ('tcp', '688', '521482'),
 ('tcp', '791', '494645'),
 ('tcp', '0', '59'),
 ('tcp', '179', '273544'),
 ('tcp', '567', '1583021'),
 ('tcp', '697', '1570327'),
 ('tcp', '0', '5'),
 ('tcp', '179', '1307271'),
 ('tcp', '479', '396249'),
 ('tcp', '718', '1336621'),
 ('tcp', '732', '1805676'),
 ('tcp', '181', '273544'),
 ('tcp', '179', '273525'),
 ('tcp', '221', '180554'),
 ('tcp', '278', '191349'),
 ('tcp', '278', '191349'),
 ('tcp', '232', '253624'),
 ('tcp', '703', '635362'),
 ('tcp', '272', '189658'),
 ('tcp', '0', '2920'),
 ('tcp', '204', '1285438'),
 ('tcp', '265', '1497065'),
 ('tcp', '569', '459792'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '185', '209503'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '278', '353310'),
 ('tcp', '169', '115970'),
 ('tcp', '262', '379616'),
 ('tcp', '661', '586073'),
 ('tcp', '369', '436983'),
 ('tcp', '250', '273525'),
 ('tcp', '252', '273544'),
 ('tcp', '259', '901953'),
 ('tcp', '252', '138816'),
 ('tcp', '249', '150164'),
 ('tcp', '166', '625079'),
 ('tcp', '549', '416794'),
 ('tcp', '338', '1154852'),
 ('tcp', '811', '1645926'),
 ('tcp', '252', '273544'),
 ('tcp', '658', '514387'),
 ('tcp', '479', '727888'),
 ('tcp', '638', '451884'),
 ('tcp', '0', '640'),
 ('tcp', '0', '33580'),
 ('tcp', '254', '3916504'),
 ('tcp', '265', '346554'),
 ('tcp', '140', '206940'),
 ('tcp', '0', '5921'),
 ('tcp', '0', '5014'),
 ('tcp', '612', '1816875'),
 ('tcp', '288', '377541'),
 ('tcp', '398', '1404198'),
 ('tcp', '455', '768318'),
 ('tcp', '800', '465944'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '7012'),
 ('tcp', '0', '15'),
 ('tcp', '757', '553953'),
 ('tcp', '585', '907326'),
 ('tcp', '414', '216808'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '250', '273525'),
 ('tcp', '252', '273544'),
 ('tcp', '258', '646195'),
 ('tcp', '747', '1104466'),
 ('tcp', '0', '17520'),
 ('tcp', '252', '273544'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '6361'),
 ('tcp', '240', '125015'),
 ('tcp', '205', '108057'),
 ('tcp', '0', '20256'),
 ('tcp', '0', '807'),
 ('tcp', '0', '1587'),
 ('tcp', '227', '238768'),
 ('tcp', '228', '191273'),
 ('tcp', '240', '125015'),
 ('tcp', '215', '207385'),
 ('tcp', '201', '271733'),
 ('tcp', '0', '3724'),
 ('tcp', '178', '171136'),
 ('tcp', '163', '336249'),
 ('tcp', '208', '271733'),
 ('tcp', '240', '125015'),
 ('tcp', '304', '197302'),
 ('tcp', '327', '181127'),
 ('tcp', '0', '6378'),
 ('tcp', '185', '544376'),
 ('tcp', '185', '544376'),
 ('tcp', '240', '125015'),
 ('tcp', '790', '767428'),
 ('tcp', '0', '4'),
 ('tcp', '233', '187618'),
 ('tcp', '180', '255639'),
 ('tcp', '242', '159759'),
 ('tcp', '333', '1462897'),
 ('tcp', '450', '1751912'),
 ('tcp', '458', '481945'),
 ('tcp', '812', '717099'),
 ('tcp', '248', '156196'),
 ('tcp', '250', '134447'),
 ('tcp', '248', '156196'),
 ('tcp', '364', '822486'),
 ('tcp', '722', '1541141'),
 ('tcp', '824', '552640'),
 ('tcp', '250', '273544'),
 ('tcp', '867', '1508420'),
 ('tcp', '410', '1499891'),
 ('tcp', '810', '1349031'),
 ('tcp', '252', '273544'),
 ('tcp', '138', '264673'),
 ('tcp', '802', '1902825'),
 ('tcp', '297', '259776'),
 ('tcp', '466', '1514273'),
 ('tcp', '181', '273544'),
 ('tcp', '210', '291180'),
 ('tcp', '252', '273544'),
 ('tcp', '223', '209227'),
 ('tcp', '753', '454491'),
 ('tcp', '315', '201030'),
 ('tcp', '252', '273525'),
 ('tcp', '263', '269232'),
 ('tcp', '288', '190743'),
 ('tcp', '137', '265184'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '15'),
 ('tcp', '0', '2830'),
 ('tcp', '242', '134175'),
 ('tcp', '798', '787245'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '197', '353310'),
 ('tcp', '176', '115970'),
 ('tcp', '252', '273525'),
 ('tcp', '0', '15'),
 ('tcp', '0', '2920'),
 ('tcp', '0', '1688'),
 ('tcp', '249', '170948'),
 ('tcp', '252', '140248'),
 ('tcp', '251', '136648'),
 ('tcp', '249', '164537'),
 ('tcp', '648', '496959'),
 ('tcp', '252', '273544'),
 ('tcp', '181', '273525'),
 ('tcp', '0', '15'),
 ('tcp', '0', '13246'),
 ('tcp', '0', '28868'),
 ('tcp', '218', '132712'),
 ('tcp', '287', '229971'),
 ('tcp', '0', '383'),
 ('tcp', '179', '273545'),
 ('tcp', '0', '5636'),
 ('tcp', '1604', '920608'),
 ('tcp', '835', '1639484'),
 ('tcp', '841', '455864'),
 ('tcp', '746', '537176'),
 ('tcp', '0', '5696'),
 ('tcp', '734', '1420055'),
 ('tcp', '401', '1345841'),
 ('tcp', '405', '247651'),
 ('tcp', '0', '7321'),
 ('tcp', '730', '408011'),
 ('tcp', '250', '273544'),
 ('tcp', '181', '273525'),
 ('tcp', '417', '243854'),
 ('tcp', '550', '339765'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '15'),
 ('tcp', '297', '1178069'),
 ('tcp', '467', '233874'),
 ('tcp', '800', '463004'),
 ('tcp', '524', '279133'),
 ('tcp', '152', '80057'),
 ('tcp', '0', '5989'),
 ('tcp', '339', '197192'),
 ('tcp', '339', '197192'),
 ('tcp', '222', '197192'),
 ('tcp', '387', '2716528'),
 ('tcp', '194', '269232'),
 ('tcp', '137', '265184'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '211', '110864'),
 ('tcp', '150', '265995'),
 ('tcp', '0', '354'),
 ('tcp', '215', '207385'),
 ('tcp', '315', '172644'),
 ('tcp', '163', '171136'),
 ('tcp', '0', '1869'),
 ('tcp', '334', '197302'),
 ('tcp', '334', '197302'),
 ('tcp', '299', '238768'),
 ('tcp', '218', '117512'),
 ('tcp', '188', '1325259'),
 ('tcp', '0', '1362'),
 ('tcp', '528', '1564759'),
 ('tcp', '0', '61'),
 ('tcp', '0', '15'),
 ('tcp', '0', '15'),
 ('tcp', '0', '79'),
 ('tcp', '278', '398456'),
 ('tcp', '231', '178837'),
 ('tcp', '0', '280'),
 ('tcp', '480', '261411'),
 ('tcp', '854', '1519233'),
 ('tcp', '355', '251874'),
 ('tcp', '666', '1148207'),
 ('tcp', '473', '435159'),
 ('tcp', '0', '36'),
 ('tcp', '0', '7312'),
 ('tcp', '0', '1409'),
 ('tcp', '532', '702272'),
 ('tcp', '222', '218492'),
 ('tcp', '250', '273525'),
 ('tcp', '252', '273525'),
 ('tcp', '252', '273544'),
 ('tcp', '0', '686'),
 ('tcp', '873', '1615353'),
 ('tcp', '532', '652154'),
 ('tcp', '414', '246850'),
 ('tcp', '488', '753898'),
 ('tcp', '769', '725203'),
 ('tcp', '441', '1515677'),
 ('tcp', '942', '521594'),
 ('tcp', '264', '433406'),
 ('tcp', '482', '354790'),
 ('tcp', '181', '273525'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '0', '4'),
 ('tcp', '221', '456237'),
 ('tcp', '501', '525452'),
 ('tcp', '779', '549086'),
 ('tcp', '184', '406187'),
 ('tcp', '669', '2524564'),
 ('tcp', '555', '720735'),
 ('tcp', '636', '386431'),
 ('tcp', '0', '4'),
 ('tcp', '231', '117028'),
 ('tcp', '672', '459829'),
 ('tcp', '677', '389961'),
 ('tcp', '235', '1285574'),
 ('tcp', '948', '1774862'),
 ('tcp', '0', '1878'),
 ('tcp', '0', '2692'),
 ('tcp', '220', '127123'),
 ('tcp', '0', '513'),
 ('tcp', '203', '140204'),
 ('tcp', '247', '190971'),
 ('tcp', '667', '535867'),
 ('tcp', '272', '146254'),
 ('tcp', '0', '381'),
 ('tcp', '156', '161499'),
 ('tcp', '218', '140204'),
 ('tcp', '176', '269232'),
 ('tcp', '251', '139783'),
 ('tcp', '250', '229391'),
 ('tcp', '791', '2028648'),
 ('tcp', '694', '1059200'),
 ('tcp', '0', '7355'),
 ('tcp', '216', '110892'),
 ('tcp', '0', '8766'),
 ('tcp', '0', '10073'),
 ('tcp', '479', '571924'),
 ('tcp', '589', '401872'),
 ('tcp', '582', '2864438'),
 ('tcp', '0', '5690'),
 ('tcp', '0', '5828'),
 ('tcp', '858', '1408161'),

## Question 7:  Get the list of `Protocols`that are `normal` and `vulnerable to attacks`, where there is NOT `guest login` to the destination addresses

In [ ]:
normal_protocols_rdd = Split_rdd.filter(lambda line: "normal." in line[-1] and line[21] != '1')\
.map(lambda line: (line[1],1)).reduceByKey(lambda x,y: x+y)


attack_protocols_rdd = Split_rdd.filter(lambda line: "normal." not in line[-1] and line[21] != '1')\
.map(lambda line: (line[1],1)).reduceByKey(lambda x,y: x+y)

normal_KeyValue = pd.DataFrame({'Label':normal_protocols_rdd.keys().collect(),'State':'normal','Count': normal_protocols_rdd.values().collect()})

attack_KeyValue = pd.DataFrame({'Label':attack_protocols_rdd.keys().collect(),'State':'normal','Count': attack_protocols_rdd.values().collect()})

results = pd.concat([normal_KeyValue, attack_KeyValue])
results.sort_values(by='Label', ascending=False )

  Label   State    Count
1   udp  normal   191348
1   udp  normal     2940
2   tcp  normal   764894
2   tcp  normal  1101613
0  icmp  normal    12763
0  icmp  normal  2820782

## Question 8: Get a summary statistics for the sum of `tcp` connections to the same destination IP address (hint: `protocol_type` and `dst_host_count` features)

In [ ]:
# Source: https://spark.apache.org/docs/latest/mllib-statistics.html

from pyspark.mllib.stat import Statistics
from math import sqrt

summary=Statistics.colStats(Split_rdd.filter(lambda line: line[1]=='tcp').map(lambda line: [int(line[31])]))
tcp_mean = round(float(summary.mean()),3)
tcp_std = round(float(sqrt(summary.variance())),3)
tcp_min = round(float(summary.min()),3)
tcp_max  = round(float(summary.max()),3)
print([tcp_mean, tcp_std, tcp_min, tcp_max])

[201.752, 90.726, 0.0, 255.0]

<ipython-input-45-16e3e3c8f37a>:7: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  tcp_mean = round(float(summary.mean()),3)
<ipython-input-45-16e3e3c8f37a>:8: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  tcp_std = round(float(sqrt(summary.variance())),3)
<ipython-input-45-16e3e3c8f37a>:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  tcp_min = round(float(summary.min()),3)
<ipython-input-45-16e3e3c8f37a>:10: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  tcp_max  = round(float(summary.max()),3)

## [challenge] Question 9: Filter the number of `icmp`-based attacks for each `service`